.footer{
    background-color: #363b3e;
    padding: 5% 0;
}
.footer h3{
    color: #fff;
    padding-bottom: 30px;
}
ul.categoryList{
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 25%;
    display: inline-block;
}
ul.categoryList li{    
    width: 100%;
    color: #8f989d;
    margin-bottom: 8px;;
}
.btn-lg, .form-control{
    width: 90%;
}

@media screen and (max-width:767px){
    ul.categoryList{
        width: 50% !important;
    }
    ._footercategory h3{
        margin-top: 20px;
    }
    .btn-lg, .form-control{
        width: 100%;
    }
    
}