<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-4 col-md-6 col-sm-12">
                <div class="_footersignUp">
                    <h3>Sign up and <br/>
                        get free content every week.</h3>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter your email.." />
                        </div>
                        <button class="btn btn-info btn-lg">Sign Up</button>
                </div>
            </div>
            <div class="col-xl-7 col-lg-8 col-md-6 col-sm-12">
                <div class="_footercategory">
                    <h3>Browse by categories</h3>
                    <ul class="categoryList">
                        <li>Graphics</li>
                        <li>PSDs</li>
                        <li>Icons</li>
                        <li>Templates</li>
                        <li>Themes</li>
                    </ul> 
                    <ul class="categoryList">   
                        <li>Addons</li>
                        <li>Fonts</li>
                        <li>Textures</li>
                        <li>Patterns</li>
                        <li>Backgrounds</li>
                    </ul> 
                    <ul class="categoryList"> 
                        <li>Buttons</li>
                        <li>Forms</li>
                        <li>GUI</li>
                        <li>Navigation</li>
                        <li>UI Kits</li>
                    </ul> 
                    <ul class="categoryList"> 
                        <li>Inforgraphics</li>
                            <li> Graphs</li>
                            <li>  Logos</li>
                                <li> Vectors</li>
                                    <li>Business Cards</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
