<section class="_searchBoxSection">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <form>
                    <h1 class="title">gif search</h1>
                    <div class="SearchBoxmain">
                        <div class="input-group">
                            <input type="text" class="form-control searchBox" (keypress)="onKeypressEvent($event)" placeholder="What are you looking for?" />
                            <select class="form-control showDropDown">
                                <option>Show All</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-default" style="background: #000;color: #fff;"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
               <div class="text-center boxBottomContent">
                <h4>You can search any gif with our search</h4>
                <p>Everything you need for your creative projects. websites, banners, presentations, magazines and advertising.</p>
               </div>
            </div>
        </div>       
    </div>
</section>
<div class="container gifImageSection">
    <div class="row">
        <div class="col-xl-4 col-lg4 col-md-6 col-sm-12 _mainDivBox"  *ngFor="let item of gifsArray.data">
            <img [src]="item.url" alt="gifImage" class="image" />

            <h6>{{item.title}}</h6>

            <!-- <div *ngFor="let data1 of gifsArray." >
               <video controls autoplay #myVideo>
                    <source  [src]="data1.em" type="video/mp4" />
                    Browser not supported
                </video>              
            </div>             -->
        </div>
    </div>
</div>
