._searchBoxSection{
    background-color: #fc6c00;
    padding: 10% 0 7% 0;
}
.title{
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-size: 4rem;
}
.SearchBoxmain{
    width: 100%;
    max-width: 45%;
    margin: 0 auto;
}
.searchBox{
    width: 70%;
}
.showDropDown{
    width: 25%;
}
.input-group-append{
    width: 5%;
}
.boxBottomContent{
    margin-top: 2rem;
    color: #fff;
}
.boxBottomContent p{
    margin-top: 2rem;
}
._mainDivBox{
    margin-bottom: 15px;
}
.image{
    width: 100%;
}
.gifImageSection{
    margin: 30px auto;
}

@media screen and (max-width:767px){
    .SearchBoxmain{
        width: 100%;
        max-width: 95%;
        margin: 0 auto;
    }
    .searchBox {
        width: 100%;
    }
    .title{
        font-size: 45px;
    }
        
    .showDropDown{
        width: 70%;
        margin-top: 5px;
    }
    .input-group-append {
        margin-top: 5px;
        width: 14%;
    }
    ._searchBoxSection{
        background-color: #fc6c00;
        padding: 20% 0 10% 0;
    }
}